<div class="card search-card">
  <ng-container *ngIf="form$ | async as vm">
    <h5 *ngIf="config.showTitle">{{ config.title ?? vm.title }}</h5>
    <ngx-smart-form
      #formvalue
      [form]="vm"
      [submitable]="true"
      (submit)="onSubmit($event)"
      (readyState)="onReadyState($event)"
    >
      <ng-template #submitButton let-handler>
        <button class="btn btn-primary" (click)="handler($event)">
          <clr-icon shape="search"></clr-icon>
          Rechercher
        </button>
      </ng-template>
    </ngx-smart-form>
  </ng-container>
</div>
