<clr-modal
  [clrModalOpen]="modal"
  [clrModalClosable]="true"
  [clrModalSize]="'md'"
  (clrModalOpenChange)="onCancel()"
>
  <h4 class="modal-title">ENTRER VOTRE MOT DE PASSE POUR VALIDER L'ACTION</h4>
  <div class="modal-body">
    <ng-container *ngIf="form$ | async as vm">
      <ngx-smart-form
        #formvalue
        [form]="vm"
        [submitable]="true"
        (submit)="check($event)"
        (readyState)="onReadyState($event)"
      >
        <ng-template #submitButton let-handler>
          <button class="btn btn-primary" (click)="handler($event)">
            <clr-icon shape="circle-arrow" dir="up"></clr-icon>
            VALIDER
          </button>
          <button class="btn btn-outline-warning" (click)="onCancel()">
            <clr-icon shape="times" dir="up"></clr-icon>
            ANNULER
          </button>
        </ng-template>
      </ngx-smart-form>
    </ng-container>
  </div>
</clr-modal>
