<div class="clr-row">
  <div class="clr-col-lg-3 clr-col-md-4 clr-col-12" *ngFor="let item of cards">
    <div [class]="'card ' + item?.class">
      <h3 class="card-header">{{ item?.title }}</h3>
      <div class="card-block">
        <h4 class="card-title" *ngIf="item?.subtitle">{{ item?.subtitle }}</h4>
        <div class="card-text" *ngIf="item?.content">{{ item?.content }}</div>
      </div>
      <div class="card-footer">
        <ng-container *ngFor="let action of item?.actions">
          <button
            [ngClass]="action?.class ? action?.class : 'btn btn-sm btn-link'"
            [routerLink]="action?.route"
            [disabled]="
              action.permission && permissions.includes(action.permission)
                ? false
                : action.permission == undefined
                ? false
                : true
            "
          >
            <clr-icon
              *ngIf="action?.routeIcon"
              [attr.shape]="action?.routeIcon"
            ></clr-icon>
            {{ action?.label }}
          </button></ng-container
        >
      </div>
    </div>
  </div>
</div>
