<div class="clr-row pd-1" *ngIf="!customTemplateRef">
  <div *ngIf="!customTemplateRef && title" class="clr-col-sm-12 clr-col-md-6">
    <h1 class="mg-t-0">{{ title }}</h1>
    <div *ngIf="!customTemplateRef && description">
      <p class="mg-t-0">{{ description }}</p>
    </div>
    <a *ngIf="!customTemplateRef && hasReturn" class="btn btn-primary" [routerLink]="'..'">
      <clr-icon shape="arrow" dir="left"></clr-icon>
      retour
    </a>
  </div>
  <!-- filter form serction -->
  <!-- <div *ngIf="!customTemplateRef && hasReturn" class="clr-col-sm-12 clr-col-md-6">
    
  </div> -->
</div>
<ng-container [ngTemplateOutlet]="customTemplateRef"> </ng-container>
