<div class="clr-row">
  <div class="clr-col-sm-12 clr-col-md-6">
    <h4 class="content-title">{{ title }}</h4>
  </div>
  <div class="clr-col-sm-12 clr-col-md-6">
    
  </div>
  <div class="clr-col-sm-12 clr-col-md-12">
    <span>clr-col-sm-12 clr-col-md-12</span>
  </div>
</div>

<div>
  <h3>{{ title | uppercase }}</h3>
  <div class="page-description">
    <p>{{ description }}</p>
  </div>
  <button *ngIf="hasReturn" class="btn btn-sm btn-link" [routerLink]="'..'">
    <clr-icon shape="arrow"></clr-icon>
    retour
  </button>
</div>
