<!-- content header -->
<app-content-header
  [title]="title"
  [description]="description"
  [hasReturn]="allowReturn ?? false"
  [customTemplateRef]="headerContentTemplateRef"
></app-content-header>

<!-- content body -->
<h4 *ngIf="grid_title">{{ grid_title }}</h4>
<ng-container *ngIf="data$ | async as data">
  <ngx-clr-smart-grid
    [data]="data"
    [columns]="columns"
    [loading]="loading"
    [config]="config"
    (detailChange)="onDetailChange($event)"
  >
    <!-- action bar -->
    <ng-template #dgActionBar let-selected>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-primary"
          (click)="getData()"
        >
          <clr-icon shape="refresh"></clr-icon>
          Actualiser
        </button>
        <button
          *ngIf="actions && hasAction('create')"
          [disabled]="isDisabled('create')"
          type="button"
          class="btn btn-sm btn-primary"
          (click)="modal = true"
        >
          <clr-icon shape="note"></clr-icon>
          Ajouter
        </button>
        <ng-container
          *ngTemplateOutlet="
            otherActionBarTemplateRef;
            context: { $implicit: selected }
          "
        >
        </ng-container>
      </div>
    </ng-template>

    <!-- overflow action -->
    <ng-template #dgActionOverflow let-item>
      <button
        *ngIf="actions && hasAction('update')"
        [disabled]="isDisabled('update')"
        class="action-item"
        (click)="onEdit(item)"
      >
        Editer
      </button>
      <ng-container
        *ngTemplateOutlet="
          otherActionOverflowTemplateRef;
          context: { $implicit: item }
        "
      >
      </ng-container>
      <button
        *ngIf="actions && hasAction('delete')"
        [disabled]="isDisabled('delete')"
        class="action-item"
        (click)="deleteRequest(item)"
      >
        Supprimer
      </button>
    </ng-template>

    <!-- expandable row -->
    <ng-template #dgRowDetail let-item>
      <ng-container
        *ngTemplateOutlet="
          otherRowDetailTemplateRef;
          context: { $implicit: item }
        "
      >
      </ng-container>
    </ng-template>

    <!-- row detail -->
    <ng-template #dgDetailBody let-item>
      <ng-container
        *ngTemplateOutlet="
          otherDetailBodyTemplateRef;
          context: { $implicit: item }
        "
      >
      </ng-container>
    </ng-template>
  </ngx-clr-smart-grid>
</ng-container>

<!-- modal -->
<clr-modal
  [(clrModalOpen)]="modal"
  [clrModalClosable]="true"
  [clrModalSize]="'xl'"
  (clrModalOpenChange)="onClose($event)"
>
  <h4 class="modal-title" *ngIf="form_title">
    {{ form_title }}
  </h4>
  <div class="modal-body">
    <ng-container *ngIf="form$ | async as vm">
      <ngx-smart-form
        #formvalue
        [form]="vm"
        [submitable]="true"
        (submit)="onSubmit($event)"
        (readyState)="onReadyState($event)"
      >
        <ng-template #submitButton let-handler>
          <button class="btn btn-primary" (click)="handler($event)">
            <clr-icon shape="circle-arrow" dir="up"></clr-icon>
            SOUMETTRE
          </button>
          <button
            class="btn btn-outline-primary"
            (click)="reset()"
            *ngIf="form.updating"
          >
            <clr-icon shape="times" dir="up"></clr-icon>
            ANNULER
          </button>
        </ng-template>

        <!-- <ng-template #template let-input="value" let-control="control" >
          <app-text-editor
            [input]="input"
            [control]="control"
          ></app-text-editor>
        </ng-template> -->
      </ngx-smart-form>
    </ng-container>
  </div>
</clr-modal>
<app-confirmation (confirm)="onDelete($event)"></app-confirmation>
